<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/create">Add New Listing</a>
        </li>
      </ul>

      <form class="d-flex me-3" role="search" method="GET" action="/listings/search">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <% if (!currUser) { %>
        <div class="d-flex">
          <a href="/login" class="btn btn-outline-primary me-2">Log In</a>
          <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
      <% } else { %>
        <a href="/logout" class="btn btn-danger">Log Out</a>
      <% } %>
    </div>
  </div>
</nav>
